*{box-sizing: border-box;}
h1,h2,h3,h4,h5,h6,p {margin: 0;}
a {text-decoration: none; color: inherit}
input {outline: none;}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background: #222;
  // background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  // background: linear-gradient(29deg, rgba(33,4,42,1) 44%, rgba(51,51,51,1) 100%);
  // background: linear-gradient(90deg, rgba(4,42,40,1) 25%, rgb(42, 1, 1) 100%);
  background: linear-gradient(135deg, rgb(4, 42, 40) 10%, rgb(42, 1, 1) 100%);
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 10px;
  // background: #ca1d1d;
  // background: rgb(11, 125, 121);
  background: #ca1d1d;
  // background: linear-gradient(90deg,rgb(74, 2, 2) 20%, rgb(9, 92, 88) 100%);
  text-align: center;
  box-shadow: 4px 4px 6px rgba(90, 90, 90, 0.2);

  a {
    font-weight: 500;
    margin-right: 20px;
    transition: all .2s ease;
    &:hover {
      color: #222;
    }
  }
}




input {
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1.5px solid #ffffff;
  height: 2rem;
  color: white;
  font-size: 14px;
  transition: all .5s ease;
  
  &:focus {border-bottom: 1.5px solid #ca1d1d;}
}
textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background: transparent !important;
    color: white !important;
  border: 1.5px solid white;
  outline-color: #ca1d1d;
  padding: 5px;
  color: #222;
  background: #fff;
  border-radius: 5px;
  font-size: 14px;
  transition: all .2s ease;
  &:focus{ background: white !important; color: #222 !important}
}
button {
  width: 100px;
  background: #333;
  border: none;
  // border: 1px solid white;
  outline: none;
  color: white;
  height: 30px;
  border-radius: 7px;
  transition: all .2s ease;
  &:hover {
    background: #ca1d1d;
    transform: scale(1.05);
  }
}


.App {
  min-height: calc(100vh - 54px - 54px);
  padding: 10px;
  max-width: 900px;
  margin: 0 auto;

  main {
    display: flex;
    justify-content: center;
    & .input_div {
      width: 30%;
      padding-right: 2%;
    }
    .reviews {
      width: 60%;
    }
  }
  h4,h2 { text-align: center; margin-bottom: 10px;}

  .input_div {
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    textarea {
      width: 100%;
      margin-bottom: 15px;
      resize: vertical; max-height: 220px; min-height: 70px;
    }
    input[type="password"] + button {
      margin-top: 12px;
    }
  }
  .reviews {
    margin-top: 20px;
    &_item {
      border-left: 3px solid #f44336;
      border-top: 3px solid #f44336;
      box-shadow: 4px 4px 6px rgb(0 0 0 / 20%);
      background-color: #333;
      margin-bottom: 15px;
      padding: 10px;
      border-radius: 10px;
      position: relative;
      p {
        word-break: break-word;
        font-size: 14px; 
        margin-top: 5px;
        span {
          font-weight: 700;
          color:#f44336;
        }
      }
      button {
        position: absolute;
        top: 2px;
        right: 2px;
        width: auto;
        border: none;
        background: none;
        color: white;
        font-size: 18px;
        cursor: pointer;
        transition: all .2s ease;
        &:hover { color: rgb(223, 55, 55) }
      }
      input {width: 100%; margin: 10px 0 0;}
    }
  }
}

.users {
  &_item {
    margin-bottom: 20px;
  }
}





footer {
  margin-top: 10px;
  padding: 7px;
  background: #141414;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    font-weight: 500;
    transition: all .2s ease;
    &:hover { color: #a8a8a8; svg { fill: #a8a8a8} }
    img {margin-left: 5px;}
    
  }
}


@media (max-width: 690px) {
  main {
    flex-direction: column;
    align-items: center;
    .input_div, .reviews {
      width: unset !important;
    }
  }
}